body {
  margin-bottom: 16%;
  background-size: 100% 100%;
}

header {
  background-color: white;
  border-color: #cccccc;
  overflow: auto;
  clear: both;
}

h1 {
  float: left;
  background-color: #4aaaa5;
  padding-top: 2.39%;
  padding-bottom: 2.39%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 14.25%;
  color: white;
}

#h3 {
  float: right;
  margin-right: 17%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 0%;
  margin-bottom: 0%;
  font-weight: bold;
  font-size: 18px;
}

.full {
  margin-left: 14.25%;
  margin-right: 14.25%;
  float: center;
  background-color: white;
  padding-bottom: 2%;
  width: 69.1147%;
}

#h4 {
  border-top: 2px solid #4aaaa5;
  margin-left: 2.1%;
  margin-right: 2.1%;
}

#name {
  width: 100%;
  overflow: auto;
  clear: both;
  margin-bottom: 3%;
  box-sizing: border-box;
  font-weight: bold;
}

#email {
  width: 100%;
  overflow: auto;
  clear: both;
  margin-bottom: 4%;
  box-sizing: border-box;
  font-weight: bold;
}

#writeme {
  width: 100%;
  font-weight: bold;
}

#submit {
  width: 23%;
}

h2 {
  color: #4aaaa5;
  padding-top: 4.85%;
  padding-left: 4.85%;
  font-size: 3em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgrey;
  color: darkgrey;
  text-align: center;
  padding: 1.5%;
  border-top: 8px solid #4aaaa5;
}



@media only screen and (max-width: 980px) {
  body {
    width: 90%;
    margin-left: 5%;
  }
  footer {
    width: 100%;
  } 
}

@media only screen and (max-width: 768px) {
  body {
    width: 90%;
  }
  footer {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  body {
    width: 90%;
  }
  footer {
    width: 100%;
  }
}