body {
    margin-bottom: 12%;
    background-size: 100% 100%;
}

header {
    background-color: white;
    border-color: #cccccc;
    overflow: auto;
    clear: both;
}

h1 {
   float: left;
   background-color: #4aaaa5;
   padding-top: 2.39%;
   padding-bottom: 2.39%;
   margin-top: 0px;
   margin-bottom: 0px;
   padding-left: 2%;
   padding-right: 2%;
   margin-left: 14.25%;
   color: white;

}

#h3 {
    float: right;
    margin-right: 17%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px;
}

.full{
    margin-left: 14.25%;
    margin-right: 14.25%;
    float: center;
    background-color: white;
    width: 69.11447%;
}

h2 {
    color: #4aaaa5;
    padding-top: 4.85%;
    padding-left: 4.85%;
    font-size: 3em;
}

#h4 {
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    float: center;
    margin-left: 2%;
    margin-right: 2%;
    border-top: 2px solid #4aaaa5;
    line-height: 180%;
    padding-top: 20px;
    text-indent: 2.0em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    color: darkgrey;
    text-align: center;
    padding: 1.5%;
    border-top: 8px solid #4aaaa5;
}

@media only screen and (max-width: 980px) {
  body {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }

  header {
    width: 100%;
  }

  footer {
    width: 100%;
  } 
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  footer {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  body {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  footer {
    width: 100%;
  }
}

